/* Стилизация главной */

html { 
	box-sizing: border-box; 
}
*, *::before, *::after {
	box-sizing: inherit; 
}

body {
	margin: 0;
	padding: 0;

	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #fff;
}

a {
	text-decoration: none;
}

/* Шапка */

/* Первая часть шапки */

.main-header .container {
	width: 100%;
	background-color: #293449;
}

.header-top {
	width: 960px;
	background-color: #293449;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.main-header-logo {
	display:block;
	width: 220px;
	background-color: #ee3643;
	border-bottom: 5px solid #b52933;
	margin-left: 10px;
	padding: 10.5px 0;
	position: absolute;
}

.main-header-logo:hover,
.main-header-logo:focus {
	background-color: #ca2c37;
	border-bottom: 5px solid #9a212a;
}

.main-header-logo:active {
	background-color: #ba2732;
	border-bottom: 5px solid #8e1e26;
}

.main-header-logo img {
	display: block;
	margin: 0 auto;
}

.search {
	width: 275px;
	margin-left: 230px;
}

.search-btn {
	border: none;
	width: 55px;
	height: 42px;
	padding: 0;
	position: absolute;
	background-color: #293449;
}

.search-btn:hover {
	background-color: #212a3a;
}

.search svg {
	opacity: 0.3;
}

.search svg:hover {
	opacity: 1;
}

.search input[type="text"] {
	font-family: 'Cuprum', Arial, sans-serif;
	font-weight: 400;
	font-size: 17px;
	line-height: 18px;
	color: #fff;

	border: none;
	background-color: #293449;
	width: 220px;
	margin-left: 55px;
	padding: 12px 0;
}

.search input[type="text"]:hover {
	background-color: #212a3a;
}

.search input[type="text"]:focus {
	background-color: #fff;
	color: #000
}

.header-top a {
	font-size: 17px;
	line-height: 18px;
	color: #fff;
}

.bookmarks:hover,
.bookmarks:focus,
.basket:hover,
.basket:focus {
	background-color: #212a3a;
}

.bookmarks::before {
	content: "";
	display: inline-block;
	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	width: 14px;
	height: 16px;
	opacity: 0.3;
	margin-left: 11px;
}

div.bookmarks {
	padding: 9px 29px 9px 8px;
}

.bookmarks a {
	margin-left: 12px;
}

.bookmarks:hover::before,
.bookmarks:focus::before {
	opacity: 1;
}

.basket::before {
	content: "";
	display: inline-block;
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	opacity: 0.3;
	margin-left: px;
}

div.basket {
	padding: 9px 0 9px 27px;
}

.basket a {
	margin-left: 17px;
	margin-right: 27px;
}

.basket:hover::before,
.basket:focus::before {
	opacity: 1;
}

.order a{
	font-size: 17px;
	line-height: 18px;
	display: inline-block;
	background-color: #63a63e;
	width: 146px;
	text-align: center;
	padding: 12px 0;
	margin-left: px;
}

.order a:hover,
.order a:focus {
	background-color: #5fbb2d;
}

.order a:active {
	background-color: #518534;
	opacity: 0.5;
}

/* Вторая часть шапки */

.header-info {
	width: 940px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding: 28.5px 0;
}


.main-header p {
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
	width: 197px;
	margin-left: 63px;
}

p.header-contacts {
	font-size: 14px;
	line-height: 24px;
	font-style: normal;
	color: #32425c;
	width: 260px;
	text-align: center;
	margin-left: 82px;
}

.header-contacts a {
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
}

.header-contacts::before {
	display: inline-block;
	content: "";
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	width: 19px;
	height: 19px;
}

.user-navigation {
	list-style: none;
	display: flex;
}

.user-navigation li:first-child {
	margin-left: 10px;
}

.user-navigation li:last-child {
	margin-left: 61px;
}

.user-navigation a {
	font-size: 21px;
	line-height: 21px;
	color: #000;
}

.user-navigation a:hover,
.user-navigation a:focus {
	color: #ee3643;
}

.user-navigation a:active{
	color: #000;
	opacity: 0.3;
}

.user-navigation::before {
	display: block;
	content: "";
	background-image: url(../img/icon-login.svg);
	background-repeat: no-repeat;
	width: 20px;
	height: 17px;
	margin-left: 42px;
}

.user-navigation:hover::before {
	background-image: url(../img/icon-login-hover.svg);
}

.user-navigation:active::before {
	background-image: url(../img/icon-login.svg);
}

/* Третья часть шапки */

.header-navigation {
	width: 940px;
	margin: 0 auto;
	background-color: #32425c;
	border-bottom: 5px solid #293449;
}

.site-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
}

.site-navigation a {
	font-size: 17px;
	line-height: 17px;
	color: #fff;
	display: block;
	background-color: #32425c;
	padding: 19px 30px;
}

.site-navigation a:hover {
	background-color: #293449;
}

.site-navigation a:focus {
	background-color: #293449;
}

.site-navigation a:active {
	background-color: #1d2739;
	opacity: 0.5;
}

/* Основная часть */

/* Раздел преимуществ */

.advantage {
	width: 940px;
	margin: 0 auto;
}

.advantage-top {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.advantage-bottom {
	display: flex;
}

.advantage-item {
	width: 300px;
	padding-bottom: 22px;
	overflow: visible;
}

.advantage-item h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	padding-top: 23px;
	margin-left: 22px;
}

a.btn-link {
	display: block;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	text-transform: uppercase;
}

.btn {
	width: 135px;
	height: 38px;
	text-align: center;
	background-color: #000;
	opacity: 0.1;
	border-radius: 3px;
	padding: 10px 0;
	margin-top: -15px;
	margin-left: 25px;
}


.advantage-item-stuff {
	background-color: #ffbf47;
}

.advantage-item-stuff::after {
	display: block;
	float: right;
	content: "";
	background-image: url(../img/icon-1.svg);
	background-repeat: no-repeat;
	width: 44px;
	height: 65px;
	position: relative;
	right: 43px;
	bottom: 70px;
}

.advantage-item-instrument {
	background-color: #3bbce3;
}

.advantage-item-instrument::after {
	display: block;
	float: right;
	content: "";
	background-image: url(../img/icon-2.svg);
	background-repeat: no-repeat;
	width: 75px;
	height: 61px;
	position: relative;
	right: 28px;
	bottom: 68px;
}

.advantage-item-mechanism {
	background-color: #dc91d8;
}

.advantage-item-mechanism::after {
	display: block;
	float: right;
	content: "";
	background-image: url(../img/icon-3.svg);
	background-repeat: no-repeat;
	width: 78px;
	height: 62px;
	position: relative;
	right: 31px;
	bottom: 70px;
}

.advantage-item-sale {
	background-color: #8ed78f;
}

.advantage-item-sale::after {
	display: block;
	float: right;
	content: "";
	background-image: url(../img/icon-4.svg);
	background-repeat: no-repeat;
	width: 59px;
	height: 72px;
	position: relative;
	right: 45px;
	bottom: 75px;
}

.advantage-item-delivery {
	background-color: #ffc047;
}

.advantage-item-delivery::after {
	display: block;
	float: right;
	content: "";
	background-image: url(../img/icon-5.svg);
	background-repeat: no-repeat;
	width: 78px;
	height: 63px;
	position: relative;
	right: 31px;
	bottom: 69px;
}

/* Слайдер */

.advantage-item-slider {
	width: 620px;
	background-image: url(../img/slider-drill.jpg);
	background-repeat: no-repeat;
}

.advantage-item-slider h3 {
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	margin-left: 24px;
	padding-top: 25px;
}

.advantage-item-slider p {
	margin-left: 24px;
	margin-top: -33px;
}

.btn-slider {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #fff;

	display: block;
	width: 195px;
	text-align: center;
	background-color: #ee3643;
	padding: 10px 0;
	border-radius: 3px;
	margin-left: 25px;
	margin-top: 118px;
}

/* Раздел "о нас" */

.about-us {
	width: 940px;
	margin: 0 auto;
	display: flex;
}

.about-us h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #000;
	text-transform: uppercase;
}

.about-us p {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #000;
}

.about-company {
	width: 540px;
}

.contacts {
	margin-left: 100px;
	width: 300px;
}

.about-company ul {
	font-size: 18px;
	line-height: 20px;
	color: #000;

	list-style: none;
}

.button {
	font-size: 14px;
	line-height: 18;
	color: #fff;
	text-transform: uppercase;

	background-color: #ee3643;
}

.button:hover,
.button:focus {
	background-color: #ca2c37;
}

.button:active {
	background-color: #ba2732;
}

.button-about-company {
	padding: 11px 40px;
	border-radius: 3px;
}

.button-contacts {
	padding: 11px 61.5px;
	border-radius: 3px;
}

/*Стилизация подвала*/

/* Первая часть подвала */

.container-footer-navigation {
	background-color: #32425c;
	width: 100%;
}

.footer-navigation {
	width: 940px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding-bottom: 40px;
}

.footer-navigation-top {
	display: flex;
}

.footer-navigation-bottom {
	display: flex;
}

.footer-navigation-bottom p {
	padding-top: 9px;
}

.site-footer-navigation {
	margin-left: 120px;
	width: 550px;
	display: flex;
	justify-content: space-between;
}

.products-footer-navigation {
	margin-left: 50px;
	width: 525px;
	display: flex;
	justify-content: space-between;
}

.main-footer-logo {
	display: inline-block;
	width: 220px;
	padding: 1.5px 0;
	background-color: #ee3643;
	border-bottom: 5px solid #b52933;
}

.main-footer-logo:hover,
.main-footer-logo:focus {
	background-color: #ca2c37;
	border-bottom: 5px solid #9a212a;
}

.main-footer-logo:active {
	background-color: #ba2732;
	border-bottom: 5px solid #8e1e26;
}

.main-footer-logo img {
	display: block;
	margin: 0 auto;
	margin-top: 20.5px;
}

.footer-navigation ul {
	list-style: none;
}

.site-footer-navigation a {
	color: #fff;
}

.site-footer-navigation a:hover,
.site-footer-navigation a:hover {
	text-decoration: underline;
}

.site-footer-navigation a:active {
	text-decoration: none;
	opacity: 0.5;
}

.products-footer-navigation a {
	color: #ffda96;
}

.products-footer-navigation a:hover,
.products-footer-navigation a:hover {
	text-decoration: underline;
}

.products-footer-navigation a:active {
	text-decoration: none;
	opacity: 0.5;
}

/* Вторая часть подвала */

.container-footer-contacts {
	background-color: #293449;
	width: 100%;
}

.footer-contacts {
	width: 940px;
	margin: 0 auto;
	display: flex;
	padding: 19.5px 0;
}

.copyright{
	width: 230px;
}

.feedback {
	margin-left: 112px;
	width: 140px;
}

.developer {
	margin-left: 49px;
	width: 97px;
}

.footer-contacts p {
	font-size: 16px;
	line-height: 18px;
}

.footer-contacts a {
	color: #ffd180;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
	text-decoration: underline;
}

.footer-contacts a:active {
	text-decoration: none;
	color:#ee3643;
}

.social {
	margin-left: 118px;
}

.social-items {
	display: flex;
	width: 133px;
}

.social ul {
	list-style: none;
}

.social-button {
	display: none;
}

.social-button-vk {
	background-color: #212a3a;
	width: 42px;
	height: 31px;
	text-align: center;
	border-radius: 25px;
}

.social-button-fb {
	background-color: #212a3a;
	width: 42px;
	height: 31px;
	text-align: center;
	border-radius: 25px;
}

.social-button-insta {
	background-color: #212a3a;
	width: 42px;
	height: 31px;
	text-align: center;
	border-radius: 25px;
}

.social-button-vk:hover,
.social-button-vk:focus,
.social-button-vk:active,
.social-button-fb:hover,
.social-button-fb:focus,
.social-button-fb:active,
.social-button-insta:hover,
.social-button-insta:focus,
.social-button-insta:active {
	background-color: #ee3643;
}

.social-button-vk::before {
	content: "";
	display: inline-block;
	background-image: url(../img/icon-vk.svg);
	background-repeat: no-repeat;
	width: 26px;
	height: 15px;
	margin-top: 8px;
}

.social-button-fb::before {
	content: "";
	display: inline-block;
	background-image: url(../img/icon-fb.svg);
	background-repeat: no-repeat;
	width: 12px;
	height: 22px;
	margin-top: 4px;
}

.social-button-insta::before {
	content: "";
	display: inline-block;
	background-image: url(../img/icon-insta.svg);
	background-repeat: no-repeat;
	width: 21px;
	height: 21px;
	margin-top: 4.5px;
}

.modal-write-us {
	width: 620px;
	margin: 0 auto;
	line-height: 18px;
	color: #000;

	background-color: #fff;
	border-top: 7px solid #ff5358;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

.modal-write-us input[type="text"],
.modal-write-us input[type="email"] {
	width: 220px;
	padding: 8px 0;
}

.modal-write-us input[type="text"],
.modal-write-us input[type="email"],
.modal-write-us textarea {
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	color: #a9a9a9;

	border: 2px solid #dee3e4;
}

.modal-write-us input[type="text"]:hover,
.modal-write-us input[type="email"]:hover,
.modal-write-us textarea:hover {
	border: 2px solid #b5b5b5;
}

.modal-write-us input[type="text"]:focus,
.modal-write-us input[type="email"]:focus,
.modal-write-us textarea:focus {
	border: 2px solid #ee3643;
}

.modal button {
	border: none;
}

.modal-write-us button {
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	left: 580px;
	top: 10px;
}

.modal-write-us label {
	display: block;
}

.modal-name {
	margin-left: 80px;
}
.modal-email {
	float: right;
	margin-top: -56px;
	margin-right: 80px;
}

.modal-text {
	margin-left: 80px;
	margin-top: 22px;
}

.modal-text textarea {
	width: 460px;
	height: 115px;
}

button.send {
	position: static;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	text-transform: uppercase;

	background-color: #ee3643;
	width: 460px;
	padding: 9px 0;
	margin-left: 80px;
	margin-top: 75px;
	margin-bottom: 37px;
	border-radius: 3px;
}

button.send:hover,
button.send:focus {
	background-color: #ca2c37;
}

button.send:active {
	background-color: #ba2732;
}

/* Карта */

.modal-map {
	width: 940px;
	height: 446px;
	margin: 0 auto;
	background-image: url("../img/map-max.png");
	
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.modal-map button {
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	left: 900px;
	top: 9px;
}

/* Добавление в корзину */

.modal-basket {
	width: 620px;
	height: 275px;
	margin: 0 auto;
	border-top: 5px solid #ee3643;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.modal-basket .modal-close {
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	left: 580px;
	top: 9px;
}

.modal-basket b {
	font-size: 30px;
	line-height: 30px;
	color: #000;

	margin-left: 30px;
	position: relative;
	top: 20px;
}

.modal-basket-ok::before {
	content: "";
	display: inline-block;
	background-image: url(../img/icon-ok.png);
	background-repeat: no-repeat;
	width: 66px;
	height: 66px;
	margin-left: 80px;
	float: left;
}

.modal-basket a {
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	text-transform: uppercase;

	position: relative;
	top: 125px;
	right: 66px;
	padding: 8px 60.5px;
	background-color: #ee3643;
	border-radius: 3px;
}

.modal-basket-buy {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

	position: relative;
	top: 125px;
	background-color: rgba(0, 0, 0, 0);
}

/* Чекбоксы */

.check {
	padding-left: 2em;
	margin-bottom: 15px;
}

.checkbox-content {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.checkbox-mark {
	position: absolute;
	margin-left: -2em;
	width: 23px;
	height: 23px;
	background-image: url("../img/checkbox-off.svg");
}

.checkbox-content:checked + .checkbox-mark {
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-on.svg");
}

.checkbox-content:disabled + .checkbox-mark {
	width: 23px;
	height: 23px;
	background-image: url("../img/checkbox-off.svg");
	opacity: 0.3;
}

.checkbox-content:checked:disabled + .checkbox-mark {
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-on.svg");
	opacity: 0.3;
}

/* Радиокнопки */

.radio {
	padding-left: 2em;
	margin-bottom: 15px;
}

.radio-input {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.radio-mark {
	position: absolute;
	margin-left: -2em;
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-off.svg");
}

.radio-input:checked + .radio-mark {
	background-image: url("../img/radio-on.svg");
}

.radio-input:disabled + .radio-mark {
	background-image: url("../img/radio-off.svg");
	opacity: 0.3;
}

.radio-input:checked:disabled + .radio-mark {
	background-image: url("../img/radio-on.svg");
	opacity: 0.3;
}

/* Стилизация каталога */

.header-info-catalog {
	padding: 17px 0;
}

.catalog {
	width: 940px;
	margin: 0 auto;
}

.main-navigation {
	list-style: none;
	display: flex;
	padding: 83px 0 0 0;
  	margin: 0;
}

.main-navigation a {
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	color: #000;
	text-transform: uppercase;
}

.nav-item::after {
	content: "";
	display: inline-block;
	background-image: url(../img/icon-right-small.svg);
	background-repeat: no-repeat;
	width: 8px;
	height: 12px;
	position: absolute;
  	bottom: 20%;
  	right: 5px;
}

.nav-item {
  position: relative;
  padding-right: 25px;
  margin-right: 25px;
}

.nav-item:last-child::after {
  display: none;
}

.catalog h1 {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
}

.container-main {
	width: 940px;
	margin: 0 auto;
	display: flex;
}

.filter {
	width: 160px;
}

.procreator {
	width: 160px;
	display: flex;
	flex-direction: column;
}

.power {
	width: 160px;
	display: flex;
	flex-direction: column;
}

.filter h2 {
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 700;
	font-size: 17px;
	line-height: 30px;
	color: #000;
	text-transform: uppercase;
}

.filter label {
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	color: #000;
	text-transform: uppercase;
}

.show {
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	color: #000;
	text-transform: uppercase;

	border: none;
}

.products {
	margin-left: 80px;
	width: 700px;
	display: flex;
	flex-wrap: wrap;
}

.products-item {
	width: 220px;
	margin-left: 10px;
	margin-bottom: 20px;
	text-align: center;
	padding-bottom: 21px;
	border: 1px solid #e5e5e5;
	z-index: 2;
	position: relative;
	background-color: #fff;
}

.products-item .flag {
	position: absolute;
	top: -1px;
	right: -1px;
	  
	width: 60px;
	height: 60px;
  
	text-indent: -1000px;
	overflow: hidden;
	z-index: 20;
}

.products-item .flag-new {
  	background: url("../img/new-flag.png") no-repeat 0 0;
}

.products-item h3 {
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	color: #000;
	width: 157px;
	margin: 0 auto;
}

.products-item del {
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
	color: #999;
	display: block;
	width: 157px;
	margin: 0 auto;
	margin-top: 15px;
	padding-bottom: 22px;
}

.products-item p {
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
	color: #fff;

	position: relative;
	width: 130px;
	margin: 10px auto;
	margin-bottom: 20px;
	padding: 10px 30px;
	  
	background: #ee3643;
	border-radius: 3px;
}

.products-item p:after {
  content: "";
  
  position: absolute;
  top: 0;
  right: -20px;
  
  width: 0;
  height: 0;
  
  border: 19px solid white;
  border-left-color: #ee3643;
}

.products-item-button {
	position: absolute;
	bottom: 198px;
	left: 25px;
	width: 170px;
	background-color: #fff;
	display: none;
}

.products-item:hover .products-item-button {
	display: block;
}

.products-item-right p {
	margin-top: 65px;
}

.buy {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;

	background-color: #63a63e;
	border: none;
	border-bottom: 3px solid #367315;
	width: 135px;
	padding: 6px 0;
	border-radius: 3px;
	margin-top: 43px;
}

.buy:hover,
.buy:focus {
	background-color: #5fbb2d;
}

.buy:active {
	background-color: #518534;
	border: none;
}

.buy::before {
	content: "";
	display: inline-block;
	background-image: url(../img/icon-cart.svg);
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	opacity: 0.3;
	left: -20px;
	top: 1.5px;
	position: relative;
}

.buy:hover::before,
.buy:focus::before,
.buy:active::before {
	opacity: 1;
}

.marker {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #32425c;
	text-transform: uppercase;

	background-color: #fff;
	border: 3px solid #63a63e;
	padding: 7px 0;
	width: 135px;
	border-radius: 3px;
	margin-top: 8px;
}

.marker:hover,
.marker:focus {
	border: 3px solid #32425c;
}

.marker:active {
	opacity: 0.3;
}

h3.marker-margin {
	margin-top: 53px;
}

h3.marker-margin-bottom {
	margin-bottom: 53px;
}

/* Меню личного кабинета */

p.user-menu {
	width: 300px;
}

.user-menu b {
	font-size: 21px;
	line-height: 21px;
	color: #000;
	font-style: normal;
	font-weight: 400;
	margin-left: 13px;
}

.user-menu b:active {
	opacity: 0.3;
}

.basket-on {
	background-color: #ee3643;
}

.login-link {
	content: "";
	display: inline-block;
	margin-left: 13px;
}

.login-link:hover path {
	fill: #32425c;
}

.login-link:active {
	opacity: 0.3;
}

.login-link-off{
	margin-left: 30px;
}

.links {
	display: flex;
	margin-left: 5px;
}

a.my-order,
a.private-office {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

a.my-order:hover,
a.private-office:hover,
a.my-order:focus,
a.private-office:focus {
	color: #ee3643;
}

a.my-order:active,
a.private-office:active {
	color: #32425c;
	opacity: 0.3;
}

.my-order {
	margin-left: 15px;
}

.private-office{
	margin-left: 12px;
}

.point {
	display: block;
	background-color: #32425c;
	width: 5px;
	height: 5px;
	border-radius: 3px;
	margin-left: 14px;
	margin-top: 10px;
}

